# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
dist/
build/

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env
.env.*.local
.env.local

# Operating System files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# IDEs
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Test coverage
coverage/

# TypeScript cache
*.tsbuildinfo
